/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #e6ffe6;
}

.header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #e6ffe6;
  margin-top: 2rem;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: url("https://media.istockphoto.com/id/2172828907/photo/vintage-artificial-flowers-in-a-variety-of-colors-creating-a-vibrant-and-textured-display.jpg?s=1024x1024&w=is&k=20&c=LzTch3h-YGmt2KEXDNasqpgyTsKvhPS5TwVNd3HvU-8=");
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-card {
  background: white;
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height:200px;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.quantity button {
  margin: 0 5px;
}

.remove-btn {
  background: red;
}

.checkout-btn {
  margin-top: 1rem;
  text-decoration: none;
}
.shop-btn{
    margin-top: 1rem;
  text-decoration: none;
  margin-left: 1rem;
}
